#  Auto detect text files and perform LF normalization
*                text=auto

#  Exclude files from exporting
.gitattributes   export-ignore
.gitignore       export-ignore


#  Windows text files
*.ini            text   eol=crlf
*.pls            text   eol=crlf
*.vcf            text   eol=crlf


